@import "@/assets/styles/variables.scss";

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

div.form-group {
  margin: 15px 0;
}

.form-list {
  margin-bottom: 7px;
}

.form-label {
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 600;
}

.form-text {
  height: 40px;
  width: 100%;
  padding: 0 7px;
  margin-bottom: 7px;
  color: $primaryColorLighten2;
  border: 1px solid $primaryColor;
  
  transition: 400ms;
  outline: none;

  &:focus {
    border-color: $primaryColorDarken2;
  }
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  background-color: #fff;
  border: 1px solid $primaryColor;
  border-radius: 0;
  margin-bottom: 7px;
  padding: 0 7px;
  color: $primaryColorLighten2;
  cursor: pointer;
  outline: none;

  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMjRweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBvbHlnb24gZmlsbD0iIzVCNDZBMyIgcG9pbnRzPSIxMi4zMzMsNSA3Ljc5NCwxMCAzLjI1NCw1ICIvPgo8L3N2Zz4K");
  background-repeat: no-repeat;
  background-position: right center;
}

.form-textarea {
  width: 100%;
  padding: 7px 7px;
  margin-bottom: 7px;
  color: $primaryColorLighten2;
  border: 1px solid $primaryColor;
  resize: none;
  
  transition: 400ms;
  outline: none;

  &:focus {
    border-color: $primaryColorDarken2;
  }
}

.form-description {
  position: relative;
}