$backgroundColor: darken(#ffffff, 2%);

$primaryColor: #5B46A3;

$primaryColorWhite: mix($primaryColor, #ffffff, 15%);

$primaryColorLighten: lighten($primaryColor, 5%);
$primaryColorLighten2: lighten($primaryColor, 10%);

$primaryColorDarken: darken($primaryColor, 5%); 
$primaryColorDarken2: darken($primaryColor, 10%); 

$primaryDisabled: lighten($primaryColor, 20%);